.advantage__head {
    color: #888;
    font-size: 20px;
    margin: 1em 0;
}

.advantage__head_green {
    color: $green;
}

.advantage__head_red {
    color: $red;
}

.advantage__head_blue {
    color: $blue;
}

@media screen and (min-width: 48em) {
    .advantage__head {
        font-size: 24px;
    }
}
