doctype html
html(lang="en")
  head
    title BEM — Block Element Modificator
    link(rel="icon" type="image/png" href="favicon.png")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="index.css")
  body.page
    .menu
      .menu__heading Get BEM
      a.menu__item(href="#naming") Naming
      a.menu__item(href="#structure") Structure
      a.menu__item(href="#build") Building
      a.menu__item(href="https://github.com/floatdrop/awesome-bem") Awesome!
    +header
      | Block Element Modificator is methodology, that helps you achieve reusable components and code sharing in the front-end
    .container
      .grid
        .grid__col_1-3_sm.grid__col_1
          +advantage('Easy')
            | To use BEM you literally do not need nothing besides BEM naming.
        .grid__col_1-3_sm.grid__col_1
          +advantage('Modular')
            | Independent blocks and css selectors plus layer system makes your code reusable and modular.
        .grid__col_1-3_sm.grid__col_1
          +advantage('Flexible')
            | Methodology and tools, that can be recomposed and configured in the way you like BEM.
    .separator
    .container
      +step('Why you should use BEM')
        :markdown
          There are plenty of [methodologies](https://github.com/ikkou/awesome-css#architecture) out there which aimed on reducing CSS codebase and organizing programmers cooperation and maintaining of CSS code. This is obvious in large projects like Twitter, Facebook and [Github](http://markdotto.com/2014/07/23/githubs-css/#two-bundles), but other projects often grows into same «Huge CSS file» state pretty quickly.

          Here are [some reasons](http://www.youtube.com/watch?v=GhX8iPcDSsI#t=2729), that can convince you to use BEM or other methodology in your front-end:

           * __Performance__ — smaller number of CSS selectors (because of reusing Blocks) causing better performance and experience of site.
           * __Productivity__ — clear and structured CSS is easier to maintain and develop.

          Feel free to contact us at [![Gitter chat](https://badges.gitter.im/bem/talk.png)](https://gitter.im/bem/talk) if you have more questions about BEM methodology.
    .separator
    .container
      +step('Where do I start')
        :markdown
          We working on step-by-step guide, that will help you understand BEM naming, folder structure and build process of example project. For now you can read articles, that listed in [awesome-bem](https://github.com/floatdrop/awesome-bem) repository.
    .separator
    a#companies
    .companies
      .companies__head Who uses BEM
      .companies__logos
        a(href="https://yandex.com")
          img(src="https://bem.info/m/_/NQy8ax7rQRc8UzwM2-7-VTe58TA.svg" width="100")
      .companies__addme
        a(href="https://github.com/floatdrop/getbem.com/issues/1") Already using it?
  +ga('UA-15345174-10')
  script(src="index.js")
