mixin star(link, text)
  a.star.github-button(href=link data-style="mega" data-icon="octicon-star", count="true", data-count-href="/getbem/getbem.com/stargazers", data-count-api="/repos/getbem/getbem.com#stargazers_count")
    = text
