.header
  text-align center
  background #222 url('/assets/transparent.jpg') center / cover
  img
    margin 32px 0
    width 256px
    height 256px
    color white
    font-size 200px
    font-weight bold
