.navbar
  background-color: rgba(22, 22, 55, .5)
  color: white
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  height: 50px
  line-height: 50px
  marign: auto 0
  padding: 0 0 0 0

.navbar__item--title
  a
    &:hover
      color: white
  font-size: 18px

.navbar__menu
  display: block
  float: left
  font-size: 12px
  ul
    padding: 0
    li
      float: left
      margin: 0
      list-style-image: none
      list-style-position: outside
      list-style-type: none
      white-space: nowrap
      &.navbar__item--active
        background-color: rgba(22, 22, 22, .5)
        a
          color: $black
      a
        color: white
        text-decoration: none
        padding: 0 10px
        &:hover
          text-decoration: underline
