mixin navbar(actievUrl)
  - var pages = { introduction: 'Introduction', naming: 'Naming', building: 'Building' }

  .navbar.navbar_theme_default.navbar_static-top(role="navigation")
    .grid.grid_fixed
      .navbar__header
        button.navbar__toggler(data-toggle="collapse" data-target="#menu")
          .sr-only
            | Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar__brand(href="index.html")
          | Get BEM

      .navbar__collapse.collapse#menu
        ul.nav.navbar__nav
          each title, url in pages
            li.nav__item(class= url === actievUrl ? 'nav__item_active' : '')
              a.nav__link(href="#{url}.html")
               | #{title}
