.navbar {
	color: white;
	background-color: rgba(22, 22, 22, 0.3);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 50px;
	line-height: 50px;
	padding: 0px 25px;
	marign: auto 0;
}

a.navbar__title {
	color: white;
	display: block;
	float: left;
	font-size: 18px;
	line-height: 20px;
	padding: 15px 15px;
}

a.navbar__title:hover {
	color: white;
}

.navbar__menu {
	display: block;
	float: left;
	font-size: 14px;
}

.navbar__menu ul {
	padding: 0;
}

.navbar__menu ul li {
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

.navbar__menu ul li a {
	color: white;
	text-decoration: none;
	padding: 0px 15px;
}

.navbar__menu ul li a:hover {
	text-decoration: underline;
}
