.grid_top-line {
    border-top: 1px solid #ddd;
}

.grid__cell_right-border {
    border-right: 1px solid #ddd;
}

.grid__cell_left-border {
    border-left: 1px solid #ddd;
}

.grid__block-cell {
    border-left: 1px solid $green;
}

.grid__element-cell {
    border-left: 1px solid $blue;
}

.grid__modifier-cell {
    border-left: 1px solid $red;
}
