.code {
    /* font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    line-height: 1.42857;
    padding: 9px 14px; */
}
