.header {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	background: url('../../assets/transparent.jpg') center / cover;
}

.header img {
	padding: 64px;
	width: 256px;
}
