.faq {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	max-width: 860px;
	padding: 0px 40px;
	margin: auto;
}

.faq h1 {
	font-size: 48px;
	font-weight: 500;
	margin-bottom: 8px;
}

.faq h2 {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 8px;
}

.faq p {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 16px;
}

.faq code {
	color: #bd4147;
	background-color: #f7f7f9;
	border-radius: .25rem;
	padding: .2rem .4rem;
	font-size: 90%;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
