mixin header
  .header
    img.image(width="250", style="display: inline-block", src="img/b.svg")
    .header__desc
      block
    div
      br
      br
      +star('http://github.com/getbem/getbem.com/', 'Star getbem.com on GitHub')
