.header {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 25px;
    color: white;
    background-image: url('img/header-background-small.jpg');
    background-position: center, center;
    background-color: #262c32;
    background-size: cover;
    text-align: center;
}

.header img {
    width: 128px;
}

@media screen and (min-width: 48em) {
    .header img {
        width: 192px;
    }
}
