mixin header
  .header
    img.image(width="250", style="display: inline-block", src="img/b.svg")
    .header__desc
      block
    a.btn.btn_size_lg.btn_theme_default(style="margin-top: 50px", href="getting-started.html") Getting started
