.header {
    height: 470px;
    padding-top: 100px;
    margin-bottom: 25px;
    color: white;
    background-image: url('img/header-background.jpg');
    background-size: cover;
    text-align: center;
}
