mixin header
  .header
    img.image(width="250", style="display: inline-block", src="img/b.svg")
    .header__desc
      block
    a.btn.btn_size_lg.btn_theme_default.header__button(href="getting-started.html") Getting started
    div
      br
      br
      +star('http://github.com/getbem/getbem.com/', 'Star getbem.com on GitHub')
