.header {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-image: url('img/header-background.jpg');
    background-position: center -100px;
    background-color: #262c32;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.header img {
    width: 128px;
}

@media screen and (min-width: 48em) {
    .header img {
        width: 192px;
    }
}
