.menu__heading {
    display: block;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-size: 80%;
    line-height: 1.5em;
    padding: 5px 20px;
}

.menu__heading:hover {
    text-decoration: none;
}

@media screen and (min-width: 35.5em) {
    .menu__heading {
        display: inline-block;
    }
}
