.introduction
  p
    font-size 16px
    line-height 24px
    margin-bottom 16px

@media (max-width: 400px)
  .introduction
    padding 0px 5px

.introduction__cell
  padding 0 15px

.introduction__cell--block
  h3
    color $blockColor

.introduction__cell--element
  h3
    color $elementColor

.introduction__cell--modifier
  h3
    color $modifierColor
