.introduction
  padding-top: 30px
  pre
    font-size 11px
    padding 5px 10px

.introduction__cell--block
  h3
    color $blockColor

.introduction__cell--element
  h3
    color $elementColor

.introduction__cell--modifier
  h3
    color $modifierColor
