.naming
  padding-top 30px
  pre
    font-size 12px
    padding 5px 10px

.naming__cell--block
  margin-bottom -16px
  h3
    color $blockColor

.naming__cell--element
  margin-bottom -16px
  h3
    color $elementColor

.naming__cell--modifier
  margin-bottom -16px
  h3
    color $modifierColor
