.naming
  padding-top 30px
  pre
    font-size 12px
    padding 5px 10px

.naming__group
  margin-left -10px
  padding-left 10px
  margin-top 5px
  margin-bottom 5px

.naming__group--block
  border-left 1px solid $blockColor

.naming__group--element
  border-left 1px solid $elementColor

.naming__group--modifier
  border-left 1px solid $modifierColor

.naming__cell--block
  margin-bottom -16px
  h3
    color $blockColor

.naming__cell--element
  margin-bottom -16px
  h3
    color $elementColor

.naming__cell--modifier
  margin-bottom -16px
  h3
    color $modifierColor
