mixin footer()
  .footer.text_align_center

    ul.list.list_unstyled.list_inline
      li.list__item
        span.github-btn.hide(data-user="getbem" data-repo="getbem.com" data-type="watch" data-count="1")
      li.list__item
        span.github-btn.hide(data-user="getbem" data-repo="getbem.com" data-type="fork" data-count="1")
      li.list__item.footer__follow-fix
        +tw-btn__follow()
      li.list__item
        +tw-btn__tweet()

    :markdown
      Brought to you by [@floatdrop](https://github.com/floatdrop) and [@matmuchrapna](https://github.com/matmuchrapna).  
      Maintained by the [core team](https://github.com/orgs/getbem/people) with the help of our [contributors](https://github.com/getbem/getbem.com/graphs/contributors).  
      Code licensed under [MIT](https://github.com/getbem/getbem.com/blob/master/LICENSE.md), documentation under [CC BY 3.0](https://github.com/getbem/getbem.com/blob/master/levels/pages/LICENSE.md).

    ul.list.list_unstyled.list_inline
      li.list__item
        a(href="https://twitter.com/getbem") Twitter
      li.list__item
        a(href="https://github.com/getbem/getbem.com/") GitHub
      li.list__item
        a(href="https://github.com/getbem/getbem.com/issues") Issues
      li.list__item
        a(href="https://github.com/getbem/getbem.com/issues/8") Project goals
      li.list__item
        a(href="https://github.com/getbem/getbem.com/issues/1") Are you using BEM?
