$blockColor = #76b24f;
$elementColor = #4f91b2;
$modifierColor = #d5635d;

@import './blocks/navbar.styl'
@import './blocks/footer.styl'
@import './blocks/widgets.styl'

@import './pages/home.styl'
@import './pages/introduction.styl'
@import './pages/naming.styl'
@import './pages/faq.styl'

body
  margin 0
  padding 0
