.author {
    margin-top: 2em;
    width: 200px;
    display: inline-block;
}

.author__link {
    font-size: 1.5em;
    font-weight: 100;
    display: block;
}

.author__photo {
    margin: 1rem auto;
    height: 80px;
    width: 80px;
    box-shadow: 0 0 0 5px white, 0 0 0 6px #ddd;
    display: block;
}
