.menu__item {
    padding: 5px 15px;
    vertical-align: middle;
    color: #666;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    clear: both;
    line-height: 1.5em;
}

.menu__item:hover {
    color: #111;
    background-color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (min-width: 35.5em) {
    .menu__item {
        padding: 10px 20px;
        font-size: 16px;
    }
}
