.title-line(style="width: 300px")
.menu-block
.title-line(style="margin-left: 60px; width: 100px;")
.text-line(style="margin-left: 60px; margin-right: 30px;")
.text-line(style="margin-left: 60px; margin-right: 60px;")
.text-line(style="margin-left: 60px; margin-right: 50px; margin-bottom: 10px;")
.album-block
.album-block
.album-block
.album-block
.album-block
.album-block
.album-block
.album-block
.album-block
.album-block
.album-block
.album-block
.album-block
.album-block
.album-block

.clear-fix
