extends ../layout.jade

block title
  title BEM — Introduction

block head
  link(rel="stylesheet" href="introduction.css")

block content
  .grid
    .grid__row
      .grid__cell-sm_size_12.raw-text
        h1 Introduction
        blockquote The only thing that is constant is change
        p Every project have tendency to change with time. Users will find bugs and management will change buisness logic. If your project was not prepared to embrace those changes — you will have pretty bad time with them.
        p There are lots of literature out there, that can explain potential problems of developing projects with long timespans of development and how to avoid them. We will demonstrate concrete example of such change.
        p Suppose managers are found out, that users are frustrated without way to see all albums at artist page (pretty logical). They asked you to «just copy those albums from one page to another — it should not be hard, right?».

    .grid__row
      .grid__cell-sm_size_4.raw-text(style="border-right: 1px solid #ddd; text-align: center;")
        :markdown
          ### [OOCSS](https://oocss.org/)
          Single “object” abstraction</br>
          Separate structure and skin</br>
          Separate container and content

      .grid__cell-sm_size_4.raw-text(style="border-right: 1px solid #ddd; text-align: center;")
        :markdown
          ### [SMACSS](https://smacss.com/)
          Style-guide to write your CSS</br>
          Provides five categories for CSS rules</br>
          Each category has certain guidelines that apply to it

      .grid__cell-sm_size_4.raw-text(style="text-align: center;")
        :markdown
          ### [AMCSS](http://amcss.github.io/)
          Uses HTML attributes values for styling</br>
          Selectors looks like `[am-Button~="primary"]`</br>
          Nice look in resulting HTML

    .grid__row
      .grid__cell-sm_size_12.raw-text
        h3 Why we choose BEM?
        p BEM provides easiest way to understand and maintain your CSS, that not relies on interpretation of methodology as much as others do. Yandex is using it many years for now and (despite of the toolchain and turtorials state) it proven to be maintainable and understandable by newcomers.

    .grid__row
      .grid__cell-sm_size_12.raw-text
        h3 Blocks, Elements, Modifiers
        p You already notice, that all blocks in example pages are pretty same and displayed as blocks.
        p Some more text about this entities.
  +edit('https://github.com/getbem/getbem.com/edit/master/pages/introduction/introduction.jade')
