extends ../layout.jade

block title
  title BEM — Introduction

block head
  link(rel="stylesheet" href="introduction.css")

block content
  .grid
    .grid__row
      .grid__cell-sm_size_12.raw-text
        :markdown
          # Introduction
          There are plenty of [methodologies](https://github.com/ikkou/awesome-css#architecture) out there which aimed on reducing CSS codebase and organizing programmers cooperation and maintaining of CSS code. This is obvious in large projects like Twitter, Facebook and [Github](http://markdotto.com/2014/07/23/githubs-css/#two-bundles), but other projects often grows into same "Huge CSS file" state pretty quickly.

          Here are [some reasons](http://www.youtube.com/watch?v=GhX8iPcDSsI#t=2729), that can convince you to use BEM or other methodology in your front-end:

           * __Performance__ — smaller number of CSS selectors (because of reusing Blocks) causing better performance and experience of site.
           * __Productivity__ — clear and structured CSS is easier to maintain and develop.

    .grid__row
      .grid__cell-sm_size_4.raw-text(style="border-right: 1px solid #ddd; text-align: center;")
        :markdown
          ### [OOCSS](https://oocss.org/)
          Single “object” abstraction</br>
          Separate structure and skin</br>
          Separate container and content

      .grid__cell-sm_size_4.raw-text(style="border-right: 1px solid #ddd; text-align: center;")
        :markdown
          ### [SMACSS](https://smacss.com/)
          Style-guide to write your CSS</br>
          Provides five categories for CSS rules</br>
          Each category has certain guidelines that apply to it

      .grid__cell-sm_size_4.raw-text(style="text-align: center;")
        :markdown
          ### [AMCSS](http://amcss.github.io/)
          Uses HTML attributes values for styling</br>
          Selectors looks like `[am-Button~="primary"]`</br>
          Nice look in resulting HTML

    .grid__row
      .grid__cell-sm_size_12.raw-text
        h3 Why we choose BEM?
        p BEM provides easiest way to understand and maintain your CSS, that not relies on interpretation of methodology as much as others do. Yandex is using it many years for now and (despite of the toolchain and turtorials state) it proven to be maintainable and understandable by newcomers.

    .grid__row
      .grid__cell-sm_size_12.raw-text
        h3 Blocks, Elements, Modifiers
        p You already notice, that all blocks in example pages are pretty same and displayed as blocks.
        p Some more text about this entities.
  +edit('https://github.com/getbem/getbem.com/edit/master/pages/introduction/introduction.jade')
