extends ../layout.jade

block title
  title BEM — Introduction

block head
  link(rel="stylesheet" href="introduction.css")

block content
  .grid
    .grid__row
      .grid__cell-sm_size_12.raw-text
        h1 Introduction
          .badge.badge_yellow work in progress
        :markdown
          On smaller brochure sites, how your organize your styles isn’t usually a big concern. You get in there, write some CSS, or maybe even some SASS. You compile it all into a single stylesheet with SASS’s production settings, and then you aggregate it to get all the stylesheets from modules into a nice tidy package.

          However, when it comes to larger, more complex projects, how you organize your code is a key to efficiency. Not only in how how much time it takes, but also in how much code you write, and how much a browser has to load. This is especially important when you’re working with a team of themers, and when performance is important.

          This also true for long-term projects with legacy code (read "[How to Scale and Maintain Legacy CSS with Sass and SMACSS](http://webuild.envato.com/blog/how-to-scale-and-maintain-legacy-css-with-sass-and-smacss/)" — some nice SMACSS and BEM mixing in there).

          ### Methodologies

          There are plenty of [methodologies](https://github.com/ikkou/awesome-css#architecture) out there which aimed on reducing CSS codebase and organizing programmers cooperation and maintaining of CSS code. This is obvious in large projects like Twitter, Facebook and [Github](http://markdotto.com/2014/07/23/githubs-css/#two-bundles), but other projects often grows into same “Huge CSS file” state pretty quickly.

    .grid__row
      .grid__cell-sm_size_3.methodology.raw-text
        :markdown
          #### [OOCSS](https://oocss.org/)
          Separating container and content with CSS “objects”

      .grid__cell-sm_size_3.methodology.raw-text
        :markdown
          #### [SMACSS](https://smacss.com/)
          Style-guide to write your CSS with five categories for CSS rules

      .grid__cell-sm_size_3.methodology.raw-text
        :markdown
          #### [SUITCSS](http://suitcss.github.io/)
          Structured class names and meaningful hyphens

      .grid__cell-sm_size_3.methodology.methodology_last.raw-text
        :markdown
          #### [Atomic CSS](https://github.com/nemophrost/atomic-css)
          Breaking down styles into atomic, or indivisible, pieces

    .grid__row
      .grid__cell-xs_size_12.raw-text
        :markdown
          > We are looking for authors, that can write proper "[Comparsion of methodologies](https://github.com/getbem/getbem.com/issues/11)"

    .grid__row
      .grid__cell-sm_size_12.raw-text
        :markdown
          ### Why BEM over the others?

    .grid__row
      .grid__cell-sm_size_12.raw-text
        p No matter what methodology you choose to use in your projects, you will get advantages of structured CSS and UI. Some of them are less strict and more flexible, other is easier to understand and adapt in team. Instead of writting our opinion on BEM advantages, we leave you with some quotes about it:

    .grid__row
      .grid__cell-sm_size_6
        .blockquote
          p The reason I choose BEM over other methodologies comes down to this: it's less confusing than the other methods (i.e. SMACSS) but still provides us the good architecture we want (i.e. OOCSS) and with a recognisable terminology.
          .footer
            | Mark McDonnell, 
            a(href="http://www.integralist.co.uk/posts/maintainable-css-with-bem/#why-bem-over-the-others") Maintainable CSS with BEM
      .grid__cell-sm_size_6
        .blockquote
          p I was so happy to start using this, finally I had an order in things, I had a clear system to name elements. It kind of freed a lot of resources in my brain, as puny thing as element naming can still occupy a lot of brainpower. Kinda.
          .footer
            | Antti Hiljá, 
            a(href="http://clubmate.fi/oocss-acss-bem-smacss-what-are-they-what-should-i-use/") OOCSS, ACSS, BEM, SMACSS: what are they? What should I use?
    .grid__row
      .grid__cell-sm_size_6
        .blockquote
          p Unlike OOCss, it doesn’t aim at total modularity, but the opposite: namespacing (through classes names), creating independent modules of css code that don’t interact with each other.
          .footer
            | Justin Marsan, 
            a(href="http://justinmarsan.com/css-methodology-and-frameworks/") CSS methodology and frameworks
      .grid__cell-sm_size_6
        .blockquote
          p BEM is a highly useful, powerful and simple naming convention to make your front-end code easier to read and understand, easier to work with, easier to scale, more robust and explicit and a lot more strict.
          .footer
            | Harry Roberts, 
            a(href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/") MindBEMding – getting your head ’round BEM syntax
    .grid__row
      .grid__cell-sm_size_12.raw-text
        :markdown
          ### Blocks, Elements and Modifiers

          You will not be surprised, that BEM is abbreviation of the key elements of the methodology — Block, Element and Modifier. Strict rules of naming can be found in [Naming](naming.html) article.

    .grid__row
      .grid__cell-lg_size_1
      .grid__cell-lg_size_3.grid__cell_left-border
        .heading.heading_level_1.heading_block Block
        .raw-text
          :markdown
            Standalone entity that is meaningful on its own.

            __Examples__

            `header`, `container`, `menu`, `checkbox`, `input`
      .grid__cell-lg_size_3.grid__cell_left-border
        .heading.heading_level_1.heading_element Element
        .raw-text
          :markdown
            Parts of a block and have no standalone meaning. They are semantically tied to its block.

            __Examples__

            `menu item`, `list item`, `checkbox caption`, `header title`
      .grid__cell-lg_size_3.grid__cell_left-border
        .heading.heading_level_1.heading_modifier Modifier
        .raw-text
          :markdown
            Flags on blocks or elements. Use them to change appearance or behavior.

            __Examples__

            `disabled`, `highlighted`, `checked`, `fixed`, `size big`, `color yellow`
    .grid__row
      .grid__cell-sm_size_12
        br
        br

    .grid__row
      .grid__cell-sm_size_1
      .grid__cell-sm_size_10.raw-text
        .browser
          .browser__title Github
          img.github(src="img/github.png" width="100%")
      .grid__cell-sm_size_1
    .grid__row
      br
      .grid__cell-sm_size_12.raw-text
        h3 Benefits
    .grid__row
      .grid__cell-sm_size_4.raw-text
        :markdown
          #### Modularity

          Blocks styles should not have dependencies on other elements on a page, therefore you will never get [problems from cascading](http://www.phase2technology.com/blog/used-and-abused-css-inheritance-and-our-misuse-of-the-cascade/).

          This also gives you ability to transfer blocks from ready project to new one.
      .grid__cell-sm_size_4.raw-text
        :markdown
          #### Reusablility

          Copmosing independent blocks in a different way and reusing them reduces amout of CSS code, that you will maintain.

          If you have design guidelines, then it is super effective to have ready Blocks library.
      .grid__cell-sm_size_4.raw-text
        :markdown
          #### Structure

          BEM methodology gives you simple and understandable structure in your CSS code.

          We wrote [Building](building.html) article, that contains straightforward way of storing this structure on file system and a way to build it.

    .grid__row
      .grid__cell-sm_size_12.raw-text
        :markdown
          ### Case study

          We are looking forward to writing "How to migrate existing project to BEM". In meanwhile you can watch nice presentation by Nicole Sullivan — "[CSS preprocessor performance](http://www.youtube.com/watch?v=0NDyopLKE1w)". It gives a very good explanation of problems, that she meets in major of sites and ways to track and handle them.

  +edit('https://github.com/getbem/getbem.com/edit/master/pages/introduction/introduction.jade')
