.in-progress {
    position: relative;
}

.in-progress:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    opacity: 0.8;
    pointer-events: none;
    border-radius: 10px;
    background-image:
        linear-gradient(-45deg, #262c32 50%, transparent 50%),
        linear-gradient(90deg, #262c32 50%, transparent 50%);
    top: 0;
    left: 0;
}
