.browser__title {
    margin-top: -60px;
    margin-left: 90px;
    position: absolute;
    font-size: 0.8em;
}

.browser
{
    position: relative;
    z-index: 1;

    margin-top: 80px;

    padding: 0px 15px 20px;
}

.browser::before,
.browser::after
{
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;

    display: block;

    content: '';
}

.browser::before
{
    bottom: 100%;

    border-width: 80px 50px 0 290px;
    border-style: solid;
    border-image: url(img/browser-chrome-shadow.png) 80 50 0 290 fill repeat;
}

.browser::after
{
    top: 0;
    bottom: 0;

    border-width: 0 50px 20px 15px;
    border-style: solid;
    border-image: url(img/browser-chrome-shadow.png) 0 50 20 15 fill repeat;
}
