---
export interface Props {
    heading: string,
    description: string,
    color: string,
}

const { heading, description, color } = Astro.props;
---
<div class={`benefit-card benefit-card--${color}`}>
    <h2 class={`benefit-card__heading`}>{heading}</h2>
    <p class="benefit-card__text">{description}</p>
</div>

<style lang="scss">
.benefit-card {
    @apply text-center relative flex flex-col items-center p-6 bg-white rounded shadow-xl;

    &--green {
        @apply border-t-2 hover:border-green-400;
    }

    &--red {
        @apply border-t-2 hover:border-red-400;
    }

    &--blue {
        @apply border-t-2 hover:border-blue-400;
    }

    &__heading {
        @apply text-xl font-normal leading-snug mb-1 tracking-wide;
    }

    &__text {
        @apply text-gray-600 font-light;
    }
}


</style>