---
import { Code } from 'astro/components';
---

<div class="max-w-5xl mx-auto px-4 sm:px-6 pb-12 grid md:grid-cols-2 gap-8">
    <div class="relative">
        <div class="bg-white/50 text-black absolute right-2 top-2 font-bold py-0 px-2 rounded-md "><span class="bg-clip-text text-transparent bg-gradient-to-r from-gray-900 to-gray-800">Classic CSS</span></div>
        <Code lang="scss" theme="dracula-soft" code={`#opinions_box h1 {
    margin: 0 0 8px 0;
    text-align: center;
}

#opinions_box {
    p.more_pp {
        a {
            text-decoration: underline;
        }
    }

    input[type="text"] {
        border: 1px solid #ccc!important;
    }
}`}/>
    </div>
    <div class="relative">
        <div class="bg-white text-black absolute right-2 top-2 font-bold py-0 px-2 rounded-md "><span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-teal-400">BEM</span></div>
        <Code lang="scss" theme="dracula-soft" code={`.opinions-box {
    margin: 0 0 8px 0;
    text-align: center;

    &__view-more {
        text-decoration: underline;
    }

    &__text-input {
        border: 1px solid #ccc;
    }

    &--is-inactive {
        color: gray;
    }
}`}/>
    </div>
</div>

<style is:global>
    .astro-code {
        padding: 10px;
        border-radius: 10px;
    }
    
    code {
      counter-reset: step;
      counter-increment: step 0;
      @apply text-xs md:text-sm;
    }
    
    code .line::before {
      content: counter(step);
      counter-increment: step;
      width: 1rem;
      margin-right: 1.5rem;
      display: inline-block;
      text-align: right;
      color: rgba(115,138,148,.4)
    }
</style>