<div class="companies-section">
    <div class="companies-section__heading">
        <h2 class="text-4xl font-normal">Companies using BEM</h2>
    </div>
    <div class="companies-section__grid">
        <slot/>
        
        <div class="flex items-center justify-center text-center">
            <a href="https://github.com/getbem/getbem.github.io/discussions/282" title="EPAM" class="underline">Are you using BEM?</a>
        </div>
    </div>
</div>

<style lang="scss">
.companies-section {
    @apply py-12 md:py-20 max-w-6xl mx-auto px-4 sm:px-6;
    
    &__heading {
        @apply max-w-3xl mx-auto text-center pb-4 md:pb-8;
    }

    &__grid {
        @apply max-w-6xl mx-auto grid gap-16 grid-cols-3 md:grid-cols-6;
    }
}
</style>