---
import { Icon } from 'astro-icon'

export interface Props {
}

const { href, title, body } = Astro.props;
---
<nav class="sticky top-0 z-10 bg-gray-600/60 backdrop-filter backdrop-blur-xl bg-opacity-5 border-b border-gray-200">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex items-center justify-between h-16">
            <span class="text-2xl text-gray-900 font-semibold">
                <a href="/">
                    <Icon name="b_" width="32" height="32" class="fill-white"/>
                </a>
            </span>
            <div class="flex space-x-4 text-white">
                <a href="/introduction" class="font-bold hover:underline"> Introduction </a>
                <a href="/naming" class="font-bold hover:underline"> Naming </a>
                <a href="/faq" class="font-bold hover:underline"> FAQ </a>
            </div>
            <div class="flex space-x-2 sm:space-x-4 text-white">
                <a href="https://github.com/getbem" aria-label="GitHub"><Icon pack="octicon" name="mark-github-16" width="24" height="24"/></a>
                <a href="https://github.com/getbem/getbem.github.io/discussions" aria-label="GitHub Discussions"><Icon pack="octicon" name="comment-discussion-24" width="24" height="24"/></a>
                <a href="https://twitter.com/getbem" aria-label="Twitter"><Icon pack="mdi" name="twitter" width="24" height="24"/></a>
            </div>
        </div>
    </div>
</nav>
