---
import { Icon } from 'astro-icon'

export interface Props {
}

const { href, title, body } = Astro.props;
---
<nav class="navbar">
    <div class="navbar__wrapper">
        <span class="navbar__logotype">
            <a href="/" aria-label="Index page">
                <Icon name="b_" width="32" height="32" class="opacity-80"/>
            </a>
        </span>
        <div class="navbar__links">
            <a href="/introduction" class="navbar__link">Introduction</a>
            <a href="/naming" class="navbar__link">Naming</a>
            <a href="/faq" class="navbar__link">FAQ</a>
        </div>
        <div class="navbar__socials">
            <a href="https://github.com/getbem/getbem.github.io" aria-label="GitHub"><Icon pack="octicon" name="mark-github-16" class="opacity-80" width="24" height="24"/></a>
            <a href="https://github.com/getbem/getbem.github.io/discussions" aria-label="GitHub Discussions"><Icon pack="octicon" name="comment-discussion-24" class="opacity-80" width="24" height="24"/></a>
            <a href="https://twitter.com/getbem" aria-label="Twitter"><Icon pack="mdi" name="twitter" class="opacity-80" width="24" height="24"/></a>
        </div>
    </div>
</nav>

<style lang="scss">
.navbar {
    @apply sticky top-0 z-10 bg-gray-300/60 backdrop-filter backdrop-blur-xl bg-opacity-5 border-b border-gray-200;
    
    &__wrapper {
        @apply max-w-6xl mx-auto px-4 flex items-center justify-between h-16;
    }

    &__logotype {
        @apply text-2xl font-semibold;
    }

    &__links {
        @apply flex space-x-4;
    }

    &__link {
        @apply font-semibold hover:underline opacity-80;
    }

    &__socials {
        @apply flex space-x-2 sm:space-x-4;
    }
}
</style>