.badge {
    border-radius: 3px;
    font-size: 12px;
    display: inline;
    vertical-align: middle;
    white-space: nowrap;
}

.badge + .badge {
    margin-left: 10px;
}

.badge_theme_yellow {
    padding: 5px 8px;
    color: white;
    background-color: $yellow;
}

.badge_theme_text {
    vertical-align: inherit;
    background-color: inherit;
}

.badge_theme_green {
    padding: 5px 8px;
    color: white;
    background-color: $green;
}
