.badge {
    border-radius: 3px;
    font-size: 12px;
    display: inline;
    padding: 5px 8px;
    vertical-align: middle;
}

.badge_theme_yellow {
    color: white;
    background-color: $yellow;
}

.badge_theme_green {
    color: white;
    background-color: $green;
}
