.advantage__desc {
    font-weight: 300;
    line-height: 1.7em;
    color: #333;
    margin: 1em 2em;
    font-size: 14px;
}

@media screen and (min-width: 48em) {
    .advantage__desc {
        font-size: 16px;
    }
}
