doctype html
html(lang="en")
  head
    block title
      title BEM — Block Element Modifier
    link(rel="icon" type="image/png" href="favicon.png")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block head
  body.page
    +fork('Fork getbem.com on GitHub')
    include menu.jade
    block content

  +ga('UA-15345174-10')
  +gauges('54070a998bfdf7145100b613')
  script#github-bjs(async defer src="https://buttons.github.io/buttons.js")
  block scripts
