.menu
  a.menu__heading(href="index.html") Get BEM
  a.menu__item(href="getting-started.html") Getting started
  a.menu__item(href="naming.html") Naming
  a.menu__item(href="structure.html") Structure
  a.menu__item(href="building.html") Building
