extends ../layout.jade

block menu
  +navbar()

block title
  title BEM — Block Element Modifier

block head
  link(rel="stylesheet" href="/index.css")

  +og('image', 'http://getbem.com/img/bem_black.png')
  +og('url', 'http://getbem.com/')
  +og('title', 'BEM — Block Element Modifier')
  +og('description', 'BEM — Block Element Modifier is a methodology, that helps you to achieve reusable components and code sharing in the front-end.')

block scripts
  script(src="/index.js")

block content
  +header
    h1.heading.heading_level_2
      | BEM — Block Element Modifier is a methodology, that helps you to achieve reusable components and code sharing in the front-end.

  .grid.grid_fixed.grid_spaced
    .grid__row
      .grid__cell-sm.grid__cell-sm_size_4
        .advantage
          h2.advantage__head.advantage__head_green Easy
          .advantage__desc
            | To use BEM you literally do not need nothing besides BEM naming.
      .grid__cell-sm.grid__cell-sm_size_4
        .advantage
          h2.advantage__head.advantage__head_blue Modular
          .advantage__desc
            | Independent blocks and css selectors plus layer system makes your code reusable and modular.
      .grid__cell-sm.grid__cell-sm_size_4
        .advantage
          h2.advantage__head.advantage__head_red Flexible
          .advantage__desc
            | Methodology and tools, that can be recomposed and configured in the way you like BEM.

  .grid.grid_fixed.grid_spaced
    .grid__row.text.text_align_center
      .grid__cell-sm.grid__cell-sm_size_4
        .icon
          a(href="/introduction/")
            .icon__image
              img(src="/img/book.svg" style="width: 100px; height: 100px; padding-top: 10px; margin-top: 10px;")
            h2.icon__caption Introduction
      .grid__cell-sm.grid__cell-sm_size_4
        .icon
          a(href="/naming/")
            .icon__image
              img(src="/img/rename.svg" style="width: 100px; height: 100px; padding-top: 10px; margin-top: 5px;")
            h2.icon__caption Naming
      .grid__cell-sm.grid__cell-sm_size_4
        .icon
          a(href="/building/")
            .icon__image
              img(src="/img/build.svg" style="width: 100px; height: 100px; padding-top: 10px; margin-top: 5px;")
            h2.icon__caption Building

  .grid.grid_fixed.grid_spaced
    .grid__row.text_align_center.bem-consumers#companies
      h3.bem-consumers__heading Companies using BEM:
      ul.list.list_inline.list_unstyled
        li.list__item.bem-consumers__item
          a.bem-consumers__item-link(href='https://yandex.com/' title='Yandex')
            img.bem-consumers__item-logo(src="/img/consumers/yandex.png" height=70)
        li.list__item.bem-consumers
          a.bem-consumers__item-link(href='http://factory.mn/' title='Manufactura')
            img.bem-consumers__item-logo(src="/img/consumers/manufactura.png" height=70)
        li.list__item.bem-consumers
          a.bem-consumers__item-link(href='http://eu.ideus.biz/' title='iDeus')
            img.bem-consumers__item-logo(src="/img/consumers/ideus.png" height=70)
        li.list__item.bem-consumers
          a.bem-consumers__item-link(href='http://alfabank.com/' title='Alfa-Bank')
            img.bem-consumers__item-logo(src="/img/consumers/alfabank.png" height=70)
        li.list__item.bem-consumers
          a.bem-consumers__item-link(href='http://edster.ru/' title='Edster')
            img.bem-consumers__item-logo(src="/img/consumers/edster.png" height=70)
