.part {
    height: 200px;
    text-align: center;
    padding-top: 30px;
    color: white;
}

.part a {
    color: white;
    text-decoration: none;
}

.part a:hover h2 {
    color: #4c979f;
    text-decoration: underline;
}
