doctype html
html(lang="en")
  head
    block title
      title BEM — Block Element Modifier
    link(rel="icon" type="image/png" href="/favicon.png")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(name="description" content="BEM — Block Element Modifier is a methodology, that helps you to achieve reusable components and code sharing in the front-end.")
    meta(name="keywords" content="BEM, HTML, CSS, JS, JavaScript, framework, front-end, frontend, web development, code sharing, components, blocks, bower")
    meta(name="author" content="Vsevolod Strukchinsky, Vladimir Starkov and contributors.")

    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@getbem")
      
    block head
  body.page(data-spy="scroll" data-target=".affix__menu")
    +fork('Fork getbem.com on GitHub')
    block menu
    block content

  +ga('UA-15345174-10')
  +gauges('54070a998bfdf7145100b613')
  script#github-bjs(async defer src="https://buttons.github.io/buttons.js")

  block footer
    .grid.grid_fixed
      .grid__row
        .grid__cell-lg.grid__cell-lg_size_12
          +footer()

  block scripts
