extends ../layout.jade

block title
  title BEM — Building

block head
  link(rel="stylesheet" href="building.css")

block scripts
  script(src="index.js")

block content
  .grid
    .grid__row
      .grid__cell-xs_size_12.raw-text
        include:md ./building.md
  +edit('https://github.com/floatdrop/getbem.com/edit/master/pages/building/building.md')
