extends ../layout.jade

block title
  title BEM — Naming

block head
  link(rel="stylesheet" href="index.css")

block scripts
  script(src="index.js")

block content
  include ../includes/menu.jade
  .container
    +step('Naming')
      include:md ./naming.md
