extends ../layout.jade

block title
  title BEM — Naming

block head
  link(rel="stylesheet" href="naming.css")

block scripts
  script(src="index.js")

block content
  .grid
    .grid__row
      .grid__cell-xs_size_12.raw-text
        include:md ./naming.md
  +edit('https://github.com/floatdrop/getbem.com/edit/master/pages/naming/naming.md')
