extends ../layout.jade

block title
  title BEM — Structure

block head
  link(rel="stylesheet" href="naming.css")

block scripts
  script(src="index.js")

block content
  .grid
    .grid__row
      .grid__cell-xs_size_12.raw-text
        include:md ./structure.md
  +edit('https://github.com/floatdrop/getbem.com/edit/master/pages/structure/structure.md')
