.container {
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto
}

.container {
	font-weight: 300;
	line-height: 1.7em;
	color: #333;
}

@media (min-width:768px) {
	.container {
		width:750px
	}
}

@media (min-width:992px) {
	.container {
		width:970px
	}
}
