mixin tw-btn__init()
  script
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

mixin tw-btn__follow()
  a(href="https://twitter.com/getbem" class="twitter-follow-button" data-show-count="false" data-dnt="true")
    | Follow @getbem

mixin tw-btn__tweet()
  a(href="https://twitter.com/share" class="twitter-share-button" data-via="getbem" data-related="getbem" data-hashtags="b_" data-dnt="true")
    | Tweet

