mixin tw-btn__follow()
  a(href="https://twitter.com/getbem" class="twitter-follow-button" data-show-count="true" data-dnt="true")
    | Follow @getbem

mixin tw-btn__tweet()
  a(href="https://twitter.com/share" class="twitter-share-button" data-via="getbem" data-related="getbem" data-hashtags="b_" data-dnt="true")
    | Tweet

