.mdl-layout__header {
	background: url('/assets/transparent.jpg') center / cover;
}

.mdl-layout__tab-bar {
	background-color: rgba(0,0,0,0.3);
}

.mdl-layout__tab-bar-right-button {
	background-color: rgba(0,0,0,0.3);
}

.mdl-layout__tab-bar-left-button {
	background-color: transparent;
}
