extends ../layout.jade

block title
  title BEM — Structure

block head
  link(rel="stylesheet" href="index.css")

block content
  include ../includes/menu.jade
  .grid
    .grid__row
      .grid__cell-xs_size_12
        include:md ./getting-started.md
  +edit('https://github.com/floatdrop/getbem.com/edit/master/pages/getting-started/getting-started.md')
