.title-line(style="width: 300px")
.menu-block
.album-block
.title-line(style="margin-left: 100px; width: 100px;")
.text-line(style="margin-left: 100px; margin-right: 30px;")
.text-line(style="margin-left: 100px; margin-right: 60px;")
.text-line(style="margin-left: 100px; margin-right: 50px;")
.text-line(style="margin-left: 60px; margin-right: 50px;")
.text-line(style="margin-left: 60px; margin-right: 30px;")
.text-line(style="margin-left: 60px; margin-right: 40px;")
.text-line(style="margin-left: 60px; margin-right: 60px; margin-bottom: 10px;")
.clear-fix
