.button {
    color: white;
    border: 1px solid #FFF;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: #FFF;
    color: #333;
    cursor: pointer;
}

.button:active {
    box-shadow: inset 0px 1px 4px #D0D0D0;
}
