.menu
  a.menu__heading(href="index.html") Get BEM
  a.menu__item(href="naming.html") Naming
  a.menu__item(href="structure.html") Structure
  a.menu__item(href="building.html") Building
  a.menu__item.menu__item_external_true(href="https://github.com/floatdrop/awesome-bem") Awesome!
